.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 10px;
}

.dialogsItems .active {
  color: #f5ac0e;
}

.messages {
  padding: 10px;
}

.messages .message {
  
}